<section class="py-5">
  <h2 class="text-center">Home Page</h2>

  <div class="container">
    <ul class="nav nav-tabs">

      <li class="nav-item">
        <a href="#course" class="nav-link active" data-toggle="tab">Course</a>
      </li>

      <li class="nav-item">
        <a href="#instructor" class="nav-link" data-toggle="tab">Instructor</a>
      </li>

      <li class="nav-item">
        <a href="#subject" class="nav-link" data-toggle="tab">Subject</a>
      </li>
    </ul>

    <div class="tab-content py-3">

      <div id="course" class="tab-pane active">
        <p class="text-center">
          Total Number: <%= @courses.size %>
        </p>
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="text-center">Course Code</th>
            <th class="text-center">Course Name</th>
            <th class="text-center">Course Description</th>
          </tr>
          </thead>
          <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.code %></td>
              <td><%= course.name %></td>
              <td><%= course.description %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div id="instructor" class="tab-pane active">
        <p class="text-center">
          Total Number: <%= @instructors.size %>
        </p>
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">Email</th>
          </tr>
          </thead>
          <tbody>
          <% @instructors.each do |instructor| %>
            <tr>
              <td><%= instructor.id %></td>
              <td><%= instructor.first %></td>
              <td><%= instructor.last %></td>
              <td><%= instructor.email %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div id="subject" class="tab-pane">
        <p class="text-center">
          Total Number: <%= @subjects.size %>
        </p>
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Abbreviation</th>
          </tr>
          </thead>
          <tbody>
          <% @subjects.each do |subject| %>
            <tr>
              <td><%= subject.id %></td>
              <td><%= subject.name %></td>
              <td><%= subject.abbreviation %></td>
            </tr>
          <% end %>
          </tbody>

        </table>

      </div>

    </div>

  </div>
</section>
